name: build-and-deploy
run-name: Build and Deploy
on: [push, workflow_dispatch]
jobs:
  build:
    name: Build (${{matrix.target}})
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v3
      - name: Install rust toolchain for ${{matrix.target}}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{matrix.target}}
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - name: Build release for ${{matrix.target}}
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target ${{matrix.target}} --features native-tls-vendored
      - uses: actions/upload-artifact@v4
        with:
          name: rwth-fressbot-${{matrix.target}}
          path: target/${{matrix.target}}/release/rwth-fressbot
          if-no-files-found: error
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: rwth-fressbot-aarch64-unknown-linux-gnu
      - name: Install wireguard
        run: |
          sudo apt-get update
          sudo apt-get install -y wireguard resolvconf
      - name: Install wireguard config
        env:
          WIREGUARD_CONF: ${{ secrets.WIREGUARD_CONFIG }}
        run: |
          echo "$WIREGUARD_CONF" > wg0.conf
          sudo mv wg0.conf /etc/wireguard
      - name: Start wireguard
        run: sudo wg-quick up wg0 || exit 1
      - name: Ensure VPN connection
        run: ping -c 5 ${{ vars.RASPI_IP_LOCAL }}
      - name: Copy binary to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ vars.RASPI_IP_LOCAL }}
          username: ${{ vars.RASPI_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          source: "rwth-fressbot"
          target: "/home/${{ vars.RASPI_USER }}/rwth-fressbot/artifacts"
      - name: Install binary
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ vars.RASPI_IP_LOCAL }}
          username: ${{ vars.RASPI_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          script: |
            cd /home/${{ vars.RASPI_USER }}/rwth-fressbot/artifacts
            sudo systemctl stop rwth-fressbot.service || echo "RWTH Fressbot is not running."
            sudo install -D -m 755 -o pi rwth-fressbot /opt/rwth-fressbot
            sudo systemctl start rwth-fressbot.service
      - name: Shutdown wireguard
        if: always()
        continue-on-error: true
        run: sudo wg-quick down wg0
