name: build-and-deploy
run-name: Build and Deploy
on: [push]
jobs:
  build:
    name: Build (${{matrix.target}})
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        target:
          - armv7-unknown-linux-gnueabihf
    steps:
      - uses: actions/checkout@v3
      - name: Install rust toolchain for ${{matrix.target}}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{matrix.target}}
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - name: Build release for ${{matrix.target}}
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target ${{matrix.target}}
      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: rwth-fressbot-${{matrix.target}}
          path: target/${{matrix.target}}/release/rwth-fressbot
          if-no-files-found: error
  deploy:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        target: 
          - armv7-unknown-linux-gnueabihf
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: rwth-fressbot-${{matrix.target}}
      - name: Install wireguard
        run: |
          sudo apt-get update
          sudo apt-get install -y wireguard resolvconf
      - name: Install wireguard config
        env:
          WIREGUARD_CONF: ${{ secrets.WIREGUARD_CONFIG }}
        run: |
          echo "$WIREGUARD_CONF" > gh-actions.conf
          sudo mv gh-actions.conf /etc/wireguard
      - name: Start wireguard
        run: sudo wg-quick up gh-actions || exit 1
      - name: Copy binary to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ vars.RASPI_IP_LOCAL }}
          username: ${{ vars.RASPI_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          source: "rwth-fressbot"
          target: "/home/${{ vars.RASPI_USER }}/rwth-fressbot/artifacts"
      - name: Install binary
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ vars.RASPI_IP_LOCAL }}
          username: ${{ vars.RASPI_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          script: |
            cd /home/${{ vars.RASPI_USER }}/rwth-fressbot/artifacts
            sudo install -D -m 755 -o root rwth-fressbot /bin
            sudo systemctl restart rwth-fressbot.service
      - name: Shutdown wireguard
        run: udo wg-quick down gh-actions